html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  overscroll-behavior-y: none; /* Prevents bounce/overscroll effect in Chrome */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
