@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.courgette {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

.hover\:text-green-500 {
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(85deg)
    brightness(90%) contrast(100%);
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the navbar is above the spotlight */
}

#filters {
  position: sticky;
  top: 60px; /* Adjust this value based on the height of your navbar */
  z-index: 1000; /* Ensure the filters are above the spotlight */
}
